

#game-board {
  --cell-size: 24px;

  width: fit-content;
  margin: 50px auto;
  padding: 3px;

  display: grid;
  grid-template-columns: repeat(1, var(--cell-size));
  grid-auto-rows: var(--cell-size);
  gap: 2px;

  background-color: #111111;

  .cell {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #CCCCCC;
    border: 2px solid #AAAAAA;
    box-sizing: border-box;

    font-size: 1.1rem;
    font-weight: bold;

    cursor: pointer;
    user-select: none;
  }
}
